In [8]:
# import libraries
import pandas as pd
import numpy as np
print ("Imported all libraries successfully...")

Imported all libraries successfully...

In [11]:
# load data
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

week1_data = pd.read_excel("food2a_week1.xlsx")

week1_data.head()

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
3,NaN,NaN,Enough of the types of food wanted,"Enough food, but not always the types wanted",Sometimes not enough to eat,Often not enough to eat,Did not report
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# delete duplicates
number_of_duplicates = week1_data.duplicated().sum()
print (f" Number of duplicates before : {number_of_duplicates}")

# Delete duplicate rows
week1_data = week1_data.drop_duplicates()

number_of_duplicates = week1_data.duplicated().sum()
print (f" Number of duplicates after removing : {number_of_duplicates}")

 Number of duplicates before : 0
 Number of duplicates after removing : 0

In [13]:
# drop unnecessary rows
week1_data.drop(week1_data.index[108:135], inplace=True)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
week1_data

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
3,NaN,NaN,Enough of the types of food wanted,"Enough food, but not always the types wanted",Sometimes not enough to eat,Often not enough to eat,Did not report
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,249170916,175539745,49405149,15846463,4210127,4169432
6,Age,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,15224273,9828389,4036390,988302,128515,242676
8,25 - 39,75625156,49401376,16662003,6736827,1423693,1401257
9,40 - 54,63304137,43434586,12751205,4662314,1464483,991549
10,55 - 64,43409325,31263842,8293475,2410319,826879,614810
11,65 and above,51608025,41611552,7662077,1048700,366556,919140
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,120531610,86213897,23367478,7186927,1879031,1884277
14,Female,128639306,89325848,26037671,8659536,2331096,2285155
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),41785906,24354987,11259088,3938130,1230851,1002851
17,"White alone, not Hispanic",156442684,119633806,26719929,6459957,1451112,2177879
18,"Black alone, not Hispanic",28617017,16274965,6574875,4054765,1069734,642678
19,"Asian alone, not Hispanic",12738853,9320286,2480365,546889,195367,195946
20,"Two or more races + Other races, not Hispanic",9586456,5955700,2370892,846723,263063,150077
21,Education,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,17668871,8616307,4471575,2974455,1036608,569925
23,High school or GED,79924953,52216407,18028065,6481271,1693632,1505579
24,Some college/associate’s degree,75928558,51987591,16630293,5106711,1153124,1050840
25,Bachelor’s degree or higher,75648533,62719440,10275216,1284026,326764,1043088
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,138184423,106115710,24065558,5239010,1231841,1532304
28,Widowed,9920995,6907399,2143394,566643,202886,100673
29,Divorced/separated,37010975,23292697,8331065,3503890,1329207,554115
30,Never married,62279190,38723956,14647255,6488301,1414427,1005251
31,Did not report,1775333,499983,217878,48619,31766,977088
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,99967013,64960021,22437666,8764061,2192000,1613265
34,No children,149203903,110579724,26967483,7082402,2018127,2556167
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,116428453,74226979,27735622,10410604,2492010,1563238
37,No,131329755,101054165,21598961,5418760,1718118,1539751
38,Did not report,1412709,258600,70567,17099,-,1066443
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,129676465,96264298,24554712,6166867,1391672,1298915
41,No,117752949,78913510,24730266,9661718,2816675,1630781
42,Did not report,1741502,361937,120171,17878,1780,1239736
43,Reason for not working,NaN,NaN,NaN,NaN,NaN,NaN
44,Did not want to be employed,3803792,2932446,574895,218582,1221,76648
45,Sick with coronavirus symptoms,1109969,524792,315649,138154,127722,3652
46,Caring for someone with coronavirus symptoms,204333,87112,22563,86191,5469,2997
47,Caring for children not in school or daycare,5994569,3267210,1571995,996563,79770,79031
48,Caring for an elderly person,1747387,967160,541548,96068,117714,24897
49,Sick (not coronavirus related) or disabled,6491029,3148293,1823936,1141380,335229,42192
50,Retired,37060898,30513629,5202592,749436,203012,392228
51,Coronavirus pandemic related reduction in ...,17276840,10596008,4476805,1731724,274982,197321
52,Laid off due to coronavirus pandemic,10787941,5844531,2859858,1357770,517652,208129
53,Employment closed temporarily due to the c...,17503897,11450750,4120139,1326021,423925,183061
54,Employment went out of business due to the...,1619065,852857,435875,222892,73983,33458
55,Other reason,12856294,7939336,2532897,1581437,603666,198957
56,Did not report,132714903,97415621,24926395,6200244,1445782,2726860
57,Receiving pay for the time not working,NaN,NaN,NaN,NaN,NaN,NaN
58,Using paid leave,1762209,1158404,403617,171707,350,28131
59,"Full pay, not taking leave",4912966,3688563,795568,307922,67160,53754
60,Partial pay,5963844,3636330,1412776,559947,276602,78188
61,No pay,97606151,64679818,21020354,8422126,2335130,1148723
62,Did not report,138925745,102376630,25772834,6384760,1530885,2860636
63,Household income,NaN,NaN,NaN,NaN,NaN,NaN
64,"Less than $25,000",34828279,17133827,9618035,5901334,2047932,127151
65,"$25,000 - $34,999",25707367,15549522,6592797,3018351,507339,39359
66,"$35,000 - $49,999",27626364,19073450,6373823,1726076,386555,66460
67,"$50,000 - $74,999",38956223,28724977,8181219,1607013,387326,55689
68,"$75,000 - $99,999",28327074,22449776,5098640,604373,135606,38678
69,"$100,000 - $149,999",31988761,27155711,4347092,341457,126950,17551
70,"$150,000 - $199,999",13586491,12096667,1385108,98275,1891,4550
71,"$200,000 and above",14344020,13219658,1061833,36591,19550,6388
72,Did not report,33806337,20136158,6746602,2512992,596978,3813607
73,Health status,NaN,NaN,NaN,NaN,NaN,NaN
74,Excellent,43662038,37510414,4754068,930666,395657,71233
75,Very good,78696630,62330637,13122139,2688932,449683,105241
76,Good,67011238,44033373,16593346,5222976,1021933,139610
77,Fair,29574710,15981588,8357622,4275785,915754,43962
78,Poor,6871531,2841222,1642406,1277270,1073094,37539
79,Did not report,23354769,12842512,4935568,1450835,354007,3771847
80,"Frequency of feeling nervous, anxious, on edge",NaN,NaN,NaN,NaN,NaN,NaN
81,Not at all,81563348,66771810,11182988,2847778,611301,149471
82,Several days,77079809,55593346,16393208,4124650,823683,144921
83,More than half the days,30361230,19167579,7414110,3170047,545751,63743
84,Nearly every day,36573868,20953674,9463244,4234303,1877909,44738
85,Did not report,23592661,13053336,4951598,1469685,351483,3766559
86,Frequency of not being able to stop or control...,NaN,NaN,NaN,NaN,NaN,NaN
87,Not at all,103777152,85736388,14270374,2911603,663898,194890
88,Several days,70246195,48402903,16251405,4542675,952931,96281
89,More than half the days,25596403,14946181,6874640,3149481,574936,51166
90,Nearly every day,25801425,13320675,6992673,3784820,1654946,48310
91,Did not report,23749742,13133599,5016058,1457884,363416,3778784
92,Frequency of having little interest or pleasur...,NaN,NaN,NaN,NaN,NaN,NaN
93,Not at all,106237074,86588668,15283305,3352244,773866,238991
94,Several days,70820779,48791575,16573193,4436771,928625,90615
95,More than half the days,28207132,16674983,7075929,3550091,825158,80971
96,Nearly every day,20054540,10347636,5330763,3027895,1320384,27862
97,Did not report,23851390,13136884,5141959,1479462,362094,3730992
98,"Frequency of feeling down, depressed, or hopel...",NaN,NaN,NaN,NaN,NaN,NaN
99,Not at all,116224466,94620077,16969676,3635490,761605,237617
100,Several days,67388983,45377806,16290305,4591481,1052479,76913
101,More than half the days,21859680,12712931,5790572,2762132,546522,47522
102,Nearly every day,20094822,9818683,5348961,3408625,1488881,29672
103,Did not report,23602966,13010248,5005636,1448735,360640,3777707
104,Covered by health insurance,NaN,NaN,NaN,NaN,NaN,NaN
105,Yes,198725206,147471086,37739759,10542651,2654176,317533
106,No,23199512,12875994,5892111,3337970,1036407,57030
107,Did not report or don’t know,27246198,15192665,5773280,1965841,519544,3794868

In [14]:
# drop unnecessary rows
week1_data.drop(week1_data.index[86:104], inplace=True)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
week1_data

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
3,NaN,NaN,Enough of the types of food wanted,"Enough food, but not always the types wanted",Sometimes not enough to eat,Often not enough to eat,Did not report
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,249170916,175539745,49405149,15846463,4210127,4169432
6,Age,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,15224273,9828389,4036390,988302,128515,242676
8,25 - 39,75625156,49401376,16662003,6736827,1423693,1401257
9,40 - 54,63304137,43434586,12751205,4662314,1464483,991549
10,55 - 64,43409325,31263842,8293475,2410319,826879,614810
11,65 and above,51608025,41611552,7662077,1048700,366556,919140
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,120531610,86213897,23367478,7186927,1879031,1884277
14,Female,128639306,89325848,26037671,8659536,2331096,2285155
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),41785906,24354987,11259088,3938130,1230851,1002851
17,"White alone, not Hispanic",156442684,119633806,26719929,6459957,1451112,2177879
18,"Black alone, not Hispanic",28617017,16274965,6574875,4054765,1069734,642678
19,"Asian alone, not Hispanic",12738853,9320286,2480365,546889,195367,195946
20,"Two or more races + Other races, not Hispanic",9586456,5955700,2370892,846723,263063,150077
21,Education,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,17668871,8616307,4471575,2974455,1036608,569925
23,High school or GED,79924953,52216407,18028065,6481271,1693632,1505579
24,Some college/associate’s degree,75928558,51987591,16630293,5106711,1153124,1050840
25,Bachelor’s degree or higher,75648533,62719440,10275216,1284026,326764,1043088
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,138184423,106115710,24065558,5239010,1231841,1532304
28,Widowed,9920995,6907399,2143394,566643,202886,100673
29,Divorced/separated,37010975,23292697,8331065,3503890,1329207,554115
30,Never married,62279190,38723956,14647255,6488301,1414427,1005251
31,Did not report,1775333,499983,217878,48619,31766,977088
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,99967013,64960021,22437666,8764061,2192000,1613265
34,No children,149203903,110579724,26967483,7082402,2018127,2556167
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,116428453,74226979,27735622,10410604,2492010,1563238
37,No,131329755,101054165,21598961,5418760,1718118,1539751
38,Did not report,1412709,258600,70567,17099,-,1066443
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,129676465,96264298,24554712,6166867,1391672,1298915
41,No,117752949,78913510,24730266,9661718,2816675,1630781
42,Did not report,1741502,361937,120171,17878,1780,1239736
43,Reason for not working,NaN,NaN,NaN,NaN,NaN,NaN
44,Did not want to be employed,3803792,2932446,574895,218582,1221,76648
45,Sick with coronavirus symptoms,1109969,524792,315649,138154,127722,3652
46,Caring for someone with coronavirus symptoms,204333,87112,22563,86191,5469,2997
47,Caring for children not in school or daycare,5994569,3267210,1571995,996563,79770,79031
48,Caring for an elderly person,1747387,967160,541548,96068,117714,24897
49,Sick (not coronavirus related) or disabled,6491029,3148293,1823936,1141380,335229,42192
50,Retired,37060898,30513629,5202592,749436,203012,392228
51,Coronavirus pandemic related reduction in ...,17276840,10596008,4476805,1731724,274982,197321
52,Laid off due to coronavirus pandemic,10787941,5844531,2859858,1357770,517652,208129
53,Employment closed temporarily due to the c...,17503897,11450750,4120139,1326021,423925,183061
54,Employment went out of business due to the...,1619065,852857,435875,222892,73983,33458
55,Other reason,12856294,7939336,2532897,1581437,603666,198957
56,Did not report,132714903,97415621,24926395,6200244,1445782,2726860
57,Receiving pay for the time not working,NaN,NaN,NaN,NaN,NaN,NaN
58,Using paid leave,1762209,1158404,403617,171707,350,28131
59,"Full pay, not taking leave",4912966,3688563,795568,307922,67160,53754
60,Partial pay,5963844,3636330,1412776,559947,276602,78188
61,No pay,97606151,64679818,21020354,8422126,2335130,1148723
62,Did not report,138925745,102376630,25772834,6384760,1530885,2860636
63,Household income,NaN,NaN,NaN,NaN,NaN,NaN
64,"Less than $25,000",34828279,17133827,9618035,5901334,2047932,127151
65,"$25,000 - $34,999",25707367,15549522,6592797,3018351,507339,39359
66,"$35,000 - $49,999",27626364,19073450,6373823,1726076,386555,66460
67,"$50,000 - $74,999",38956223,28724977,8181219,1607013,387326,55689
68,"$75,000 - $99,999",28327074,22449776,5098640,604373,135606,38678
69,"$100,000 - $149,999",31988761,27155711,4347092,341457,126950,17551
70,"$150,000 - $199,999",13586491,12096667,1385108,98275,1891,4550
71,"$200,000 and above",14344020,13219658,1061833,36591,19550,6388
72,Did not report,33806337,20136158,6746602,2512992,596978,3813607
73,Health status,NaN,NaN,NaN,NaN,NaN,NaN
74,Excellent,43662038,37510414,4754068,930666,395657,71233
75,Very good,78696630,62330637,13122139,2688932,449683,105241
76,Good,67011238,44033373,16593346,5222976,1021933,139610
77,Fair,29574710,15981588,8357622,4275785,915754,43962
78,Poor,6871531,2841222,1642406,1277270,1073094,37539
79,Did not report,23354769,12842512,4935568,1450835,354007,3771847
80,"Frequency of feeling nervous, anxious, on edge",NaN,NaN,NaN,NaN,NaN,NaN
81,Not at all,81563348,66771810,11182988,2847778,611301,149471
82,Several days,77079809,55593346,16393208,4124650,823683,144921
83,More than half the days,30361230,19167579,7414110,3170047,545751,63743
84,Nearly every day,36573868,20953674,9463244,4234303,1877909,44738
85,Did not report,23592661,13053336,4951598,1469685,351483,3766559
104,Covered by health insurance,NaN,NaN,NaN,NaN,NaN,NaN
105,Yes,198725206,147471086,37739759,10542651,2654176,317533
106,No,23199512,12875994,5892111,3337970,1036407,57030
107,Did not report or don’t know,27246198,15192665,5773280,1965841,519544,3794868

In [15]:
# drop unnecessary rows
week1_data.drop(index=4, inplace=True)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

week1_data

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
3,NaN,NaN,Enough of the types of food wanted,"Enough food, but not always the types wanted",Sometimes not enough to eat,Often not enough to eat,Did not report
5,Total,249170916,175539745,49405149,15846463,4210127,4169432
6,Age,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,15224273,9828389,4036390,988302,128515,242676
8,25 - 39,75625156,49401376,16662003,6736827,1423693,1401257
9,40 - 54,63304137,43434586,12751205,4662314,1464483,991549
10,55 - 64,43409325,31263842,8293475,2410319,826879,614810
11,65 and above,51608025,41611552,7662077,1048700,366556,919140
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,120531610,86213897,23367478,7186927,1879031,1884277
14,Female,128639306,89325848,26037671,8659536,2331096,2285155
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),41785906,24354987,11259088,3938130,1230851,1002851
17,"White alone, not Hispanic",156442684,119633806,26719929,6459957,1451112,2177879
18,"Black alone, not Hispanic",28617017,16274965,6574875,4054765,1069734,642678
19,"Asian alone, not Hispanic",12738853,9320286,2480365,546889,195367,195946
20,"Two or more races + Other races, not Hispanic",9586456,5955700,2370892,846723,263063,150077
21,Education,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,17668871,8616307,4471575,2974455,1036608,569925
23,High school or GED,79924953,52216407,18028065,6481271,1693632,1505579
24,Some college/associate’s degree,75928558,51987591,16630293,5106711,1153124,1050840
25,Bachelor’s degree or higher,75648533,62719440,10275216,1284026,326764,1043088
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,138184423,106115710,24065558,5239010,1231841,1532304
28,Widowed,9920995,6907399,2143394,566643,202886,100673
29,Divorced/separated,37010975,23292697,8331065,3503890,1329207,554115
30,Never married,62279190,38723956,14647255,6488301,1414427,1005251
31,Did not report,1775333,499983,217878,48619,31766,977088
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,99967013,64960021,22437666,8764061,2192000,1613265
34,No children,149203903,110579724,26967483,7082402,2018127,2556167
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,116428453,74226979,27735622,10410604,2492010,1563238
37,No,131329755,101054165,21598961,5418760,1718118,1539751
38,Did not report,1412709,258600,70567,17099,-,1066443
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,129676465,96264298,24554712,6166867,1391672,1298915
41,No,117752949,78913510,24730266,9661718,2816675,1630781
42,Did not report,1741502,361937,120171,17878,1780,1239736
43,Reason for not working,NaN,NaN,NaN,NaN,NaN,NaN
44,Did not want to be employed,3803792,2932446,574895,218582,1221,76648
45,Sick with coronavirus symptoms,1109969,524792,315649,138154,127722,3652
46,Caring for someone with coronavirus symptoms,204333,87112,22563,86191,5469,2997
47,Caring for children not in school or daycare,5994569,3267210,1571995,996563,79770,79031
48,Caring for an elderly person,1747387,967160,541548,96068,117714,24897
49,Sick (not coronavirus related) or disabled,6491029,3148293,1823936,1141380,335229,42192
50,Retired,37060898,30513629,5202592,749436,203012,392228
51,Coronavirus pandemic related reduction in ...,17276840,10596008,4476805,1731724,274982,197321
52,Laid off due to coronavirus pandemic,10787941,5844531,2859858,1357770,517652,208129
53,Employment closed temporarily due to the c...,17503897,11450750,4120139,1326021,423925,183061
54,Employment went out of business due to the...,1619065,852857,435875,222892,73983,33458
55,Other reason,12856294,7939336,2532897,1581437,603666,198957
56,Did not report,132714903,97415621,24926395,6200244,1445782,2726860
57,Receiving pay for the time not working,NaN,NaN,NaN,NaN,NaN,NaN
58,Using paid leave,1762209,1158404,403617,171707,350,28131
59,"Full pay, not taking leave",4912966,3688563,795568,307922,67160,53754
60,Partial pay,5963844,3636330,1412776,559947,276602,78188
61,No pay,97606151,64679818,21020354,8422126,2335130,1148723
62,Did not report,138925745,102376630,25772834,6384760,1530885,2860636
63,Household income,NaN,NaN,NaN,NaN,NaN,NaN
64,"Less than $25,000",34828279,17133827,9618035,5901334,2047932,127151
65,"$25,000 - $34,999",25707367,15549522,6592797,3018351,507339,39359
66,"$35,000 - $49,999",27626364,19073450,6373823,1726076,386555,66460
67,"$50,000 - $74,999",38956223,28724977,8181219,1607013,387326,55689
68,"$75,000 - $99,999",28327074,22449776,5098640,604373,135606,38678
69,"$100,000 - $149,999",31988761,27155711,4347092,341457,126950,17551
70,"$150,000 - $199,999",13586491,12096667,1385108,98275,1891,4550
71,"$200,000 and above",14344020,13219658,1061833,36591,19550,6388
72,Did not report,33806337,20136158,6746602,2512992,596978,3813607
73,Health status,NaN,NaN,NaN,NaN,NaN,NaN
74,Excellent,43662038,37510414,4754068,930666,395657,71233
75,Very good,78696630,62330637,13122139,2688932,449683,105241
76,Good,67011238,44033373,16593346,5222976,1021933,139610
77,Fair,29574710,15981588,8357622,4275785,915754,43962
78,Poor,6871531,2841222,1642406,1277270,1073094,37539
79,Did not report,23354769,12842512,4935568,1450835,354007,3771847
80,"Frequency of feeling nervous, anxious, on edge",NaN,NaN,NaN,NaN,NaN,NaN
81,Not at all,81563348,66771810,11182988,2847778,611301,149471
82,Several days,77079809,55593346,16393208,4124650,823683,144921
83,More than half the days,30361230,19167579,7414110,3170047,545751,63743
84,Nearly every day,36573868,20953674,9463244,4234303,1877909,44738
85,Did not report,23592661,13053336,4951598,1469685,351483,3766559
104,Covered by health insurance,NaN,NaN,NaN,NaN,NaN,NaN
105,Yes,198725206,147471086,37739759,10542651,2654176,317533
106,No,23199512,12875994,5892111,3337970,1036407,57030
107,Did not report or don’t know,27246198,15192665,5773280,1965841,519544,3794868

In [16]:
# drop unnecessary rows
week1_data.drop(week1_data.index[0:2], inplace=True)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
week1_data

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
3,NaN,NaN,Enough of the types of food wanted,"Enough food, but not always the types wanted",Sometimes not enough to eat,Often not enough to eat,Did not report
5,Total,249170916,175539745,49405149,15846463,4210127,4169432
6,Age,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,15224273,9828389,4036390,988302,128515,242676
8,25 - 39,75625156,49401376,16662003,6736827,1423693,1401257
9,40 - 54,63304137,43434586,12751205,4662314,1464483,991549
10,55 - 64,43409325,31263842,8293475,2410319,826879,614810
11,65 and above,51608025,41611552,7662077,1048700,366556,919140
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,120531610,86213897,23367478,7186927,1879031,1884277
14,Female,128639306,89325848,26037671,8659536,2331096,2285155
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),41785906,24354987,11259088,3938130,1230851,1002851
17,"White alone, not Hispanic",156442684,119633806,26719929,6459957,1451112,2177879
18,"Black alone, not Hispanic",28617017,16274965,6574875,4054765,1069734,642678
19,"Asian alone, not Hispanic",12738853,9320286,2480365,546889,195367,195946
20,"Two or more races + Other races, not Hispanic",9586456,5955700,2370892,846723,263063,150077
21,Education,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,17668871,8616307,4471575,2974455,1036608,569925
23,High school or GED,79924953,52216407,18028065,6481271,1693632,1505579
24,Some college/associate’s degree,75928558,51987591,16630293,5106711,1153124,1050840
25,Bachelor’s degree or higher,75648533,62719440,10275216,1284026,326764,1043088
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,138184423,106115710,24065558,5239010,1231841,1532304
28,Widowed,9920995,6907399,2143394,566643,202886,100673
29,Divorced/separated,37010975,23292697,8331065,3503890,1329207,554115
30,Never married,62279190,38723956,14647255,6488301,1414427,1005251
31,Did not report,1775333,499983,217878,48619,31766,977088
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,99967013,64960021,22437666,8764061,2192000,1613265
34,No children,149203903,110579724,26967483,7082402,2018127,2556167
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,116428453,74226979,27735622,10410604,2492010,1563238
37,No,131329755,101054165,21598961,5418760,1718118,1539751
38,Did not report,1412709,258600,70567,17099,-,1066443
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,129676465,96264298,24554712,6166867,1391672,1298915
41,No,117752949,78913510,24730266,9661718,2816675,1630781
42,Did not report,1741502,361937,120171,17878,1780,1239736
43,Reason for not working,NaN,NaN,NaN,NaN,NaN,NaN
44,Did not want to be employed,3803792,2932446,574895,218582,1221,76648
45,Sick with coronavirus symptoms,1109969,524792,315649,138154,127722,3652
46,Caring for someone with coronavirus symptoms,204333,87112,22563,86191,5469,2997
47,Caring for children not in school or daycare,5994569,3267210,1571995,996563,79770,79031
48,Caring for an elderly person,1747387,967160,541548,96068,117714,24897
49,Sick (not coronavirus related) or disabled,6491029,3148293,1823936,1141380,335229,42192
50,Retired,37060898,30513629,5202592,749436,203012,392228
51,Coronavirus pandemic related reduction in ...,17276840,10596008,4476805,1731724,274982,197321
52,Laid off due to coronavirus pandemic,10787941,5844531,2859858,1357770,517652,208129
53,Employment closed temporarily due to the c...,17503897,11450750,4120139,1326021,423925,183061
54,Employment went out of business due to the...,1619065,852857,435875,222892,73983,33458
55,Other reason,12856294,7939336,2532897,1581437,603666,198957
56,Did not report,132714903,97415621,24926395,6200244,1445782,2726860
57,Receiving pay for the time not working,NaN,NaN,NaN,NaN,NaN,NaN
58,Using paid leave,1762209,1158404,403617,171707,350,28131
59,"Full pay, not taking leave",4912966,3688563,795568,307922,67160,53754
60,Partial pay,5963844,3636330,1412776,559947,276602,78188
61,No pay,97606151,64679818,21020354,8422126,2335130,1148723
62,Did not report,138925745,102376630,25772834,6384760,1530885,2860636
63,Household income,NaN,NaN,NaN,NaN,NaN,NaN
64,"Less than $25,000",34828279,17133827,9618035,5901334,2047932,127151
65,"$25,000 - $34,999",25707367,15549522,6592797,3018351,507339,39359
66,"$35,000 - $49,999",27626364,19073450,6373823,1726076,386555,66460
67,"$50,000 - $74,999",38956223,28724977,8181219,1607013,387326,55689
68,"$75,000 - $99,999",28327074,22449776,5098640,604373,135606,38678
69,"$100,000 - $149,999",31988761,27155711,4347092,341457,126950,17551
70,"$150,000 - $199,999",13586491,12096667,1385108,98275,1891,4550
71,"$200,000 and above",14344020,13219658,1061833,36591,19550,6388
72,Did not report,33806337,20136158,6746602,2512992,596978,3813607
73,Health status,NaN,NaN,NaN,NaN,NaN,NaN
74,Excellent,43662038,37510414,4754068,930666,395657,71233
75,Very good,78696630,62330637,13122139,2688932,449683,105241
76,Good,67011238,44033373,16593346,5222976,1021933,139610
77,Fair,29574710,15981588,8357622,4275785,915754,43962
78,Poor,6871531,2841222,1642406,1277270,1073094,37539
79,Did not report,23354769,12842512,4935568,1450835,354007,3771847
80,"Frequency of feeling nervous, anxious, on edge",NaN,NaN,NaN,NaN,NaN,NaN
81,Not at all,81563348,66771810,11182988,2847778,611301,149471
82,Several days,77079809,55593346,16393208,4124650,823683,144921
83,More than half the days,30361230,19167579,7414110,3170047,545751,63743
84,Nearly every day,36573868,20953674,9463244,4234303,1877909,44738
85,Did not report,23592661,13053336,4951598,1469685,351483,3766559
104,Covered by health insurance,NaN,NaN,NaN,NaN,NaN,NaN
105,Yes,198725206,147471086,37739759,10542651,2654176,317533
106,No,23199512,12875994,5892111,3337970,1036407,57030
107,Did not report or don’t know,27246198,15192665,5773280,1965841,519544,3794868

In [17]:
# drop unnecessary rows

week1_data_no_nulls = week1_data.dropna()
week1_data_no_nulls

week1_data_no_nulls.to_excel("week1_data_no_nulls.xlsx", index=False)
import os
print(os.getcwd())

,"Food Table 2a. Food Sufficiency for Households, Prior to COVID-19 Pandemic, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
2,Select characteristics,Total,"Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020","Food sufficiency prior to March 13, 2020"
5,Total,249170916,175539745,49405149,15846463,4210127,4169432
7,18 - 24,15224273,9828389,4036390,988302,128515,242676
8,25 - 39,75625156,49401376,16662003,6736827,1423693,1401257
9,40 - 54,63304137,43434586,12751205,4662314,1464483,991549
10,55 - 64,43409325,31263842,8293475,2410319,826879,614810
11,65 and above,51608025,41611552,7662077,1048700,366556,919140
13,Male,120531610,86213897,23367478,7186927,1879031,1884277
14,Female,128639306,89325848,26037671,8659536,2331096,2285155
16,Hispanic or Latino (may be of any race),41785906,24354987,11259088,3938130,1230851,1002851
17,"White alone, not Hispanic",156442684,119633806,26719929,6459957,1451112,2177879
18,"Black alone, not Hispanic",28617017,16274965,6574875,4054765,1069734,642678
19,"Asian alone, not Hispanic",12738853,9320286,2480365,546889,195367,195946
20,"Two or more races + Other races, not Hispanic",9586456,5955700,2370892,846723,263063,150077
22,Less than high school,17668871,8616307,4471575,2974455,1036608,569925
23,High school or GED,79924953,52216407,18028065,6481271,1693632,1505579
24,Some college/associate’s degree,75928558,51987591,16630293,5106711,1153124,1050840
25,Bachelor’s degree or higher,75648533,62719440,10275216,1284026,326764,1043088
27,Married,138184423,106115710,24065558,5239010,1231841,1532304
28,Widowed,9920995,6907399,2143394,566643,202886,100673
29,Divorced/separated,37010975,23292697,8331065,3503890,1329207,554115
30,Never married,62279190,38723956,14647255,6488301,1414427,1005251
31,Did not report,1775333,499983,217878,48619,31766,977088
33,Children in household,99967013,64960021,22437666,8764061,2192000,1613265
34,No children,149203903,110579724,26967483,7082402,2018127,2556167
36,Yes,116428453,74226979,27735622,10410604,2492010,1563238
37,No,131329755,101054165,21598961,5418760,1718118,1539751
38,Did not report,1412709,258600,70567,17099,-,1066443
40,Yes,129676465,96264298,24554712,6166867,1391672,1298915
41,No,117752949,78913510,24730266,9661718,2816675,1630781
42,Did not report,1741502,361937,120171,17878,1780,1239736
44,Did not want to be employed,3803792,2932446,574895,218582,1221,76648
45,Sick with coronavirus symptoms,1109969,524792,315649,138154,127722,3652
46,Caring for someone with coronavirus symptoms,204333,87112,22563,86191,5469,2997
47,Caring for children not in school or daycare,5994569,3267210,1571995,996563,79770,79031
48,Caring for an elderly person,1747387,967160,541548,96068,117714,24897
49,Sick (not coronavirus related) or disabled,6491029,3148293,1823936,1141380,335229,42192
50,Retired,37060898,30513629,5202592,749436,203012,392228
51,Coronavirus pandemic related reduction in ...,17276840,10596008,4476805,1731724,274982,197321
52,Laid off due to coronavirus pandemic,10787941,5844531,2859858,1357770,517652,208129
53,Employment closed temporarily due to the c...,17503897,11450750,4120139,1326021,423925,183061
54,Employment went out of business due to the...,1619065,852857,435875,222892,73983,33458
55,Other reason,12856294,7939336,2532897,1581437,603666,198957
56,Did not report,132714903,97415621,24926395,6200244,1445782,2726860
58,Using paid leave,1762209,1158404,403617,171707,350,28131
59,"Full pay, not taking leave",4912966,3688563,795568,307922,67160,53754
60,Partial pay,5963844,3636330,1412776,559947,276602,78188
61,No pay,97606151,64679818,21020354,8422126,2335130,1148723
62,Did not report,138925745,102376630,25772834,6384760,1530885,2860636
64,"Less than $25,000",34828279,17133827,9618035,5901334,2047932,127151
65,"$25,000 - $34,999",25707367,15549522,6592797,3018351,507339,39359
66,"$35,000 - $49,999",27626364,19073450,6373823,1726076,386555,66460
67,"$50,000 - $74,999",38956223,28724977,8181219,1607013,387326,55689
68,"$75,000 - $99,999",28327074,22449776,5098640,604373,135606,38678
69,"$100,000 - $149,999",31988761,27155711,4347092,341457,126950,17551
70,"$150,000 - $199,999",13586491,12096667,1385108,98275,1891,4550
71,"$200,000 and above",14344020,13219658,1061833,36591,19550,6388
72,Did not report,33806337,20136158,6746602,2512992,596978,3813607
74,Excellent,43662038,37510414,4754068,930666,395657,71233
75,Very good,78696630,62330637,13122139,2688932,449683,105241
76,Good,67011238,44033373,16593346,5222976,1021933,139610
77,Fair,29574710,15981588,8357622,4275785,915754,43962
78,Poor,6871531,2841222,1642406,1277270,1073094,37539
79,Did not report,23354769,12842512,4935568,1450835,354007,3771847
81,Not at all,81563348,66771810,11182988,2847778,611301,149471
82,Several days,77079809,55593346,16393208,4124650,823683,144921
83,More than half the days,30361230,19167579,7414110,3170047,545751,63743
84,Nearly every day,36573868,20953674,9463244,4234303,1877909,44738
85,Did not report,23592661,13053336,4951598,1469685,351483,3766559
105,Yes,198725206,147471086,37739759,10542651,2654176,317533
106,No,23199512,12875994,5892111,3337970,1036407,57030
107,Did not report or don’t know,27246198,15192665,5773280,1965841,519544,3794868

/content

In [18]:
# save to a excel file
week1_data_no_nulls.to_excel("week1_cleaned.xlsx", index=False)